.text-gold {
  color: #db9108;
}

.bg-black {
  background-color: #000;
}

.bg-dark {
  background-color: #111;
}

.btn-gold {
  background-color: #db9108;
  color: #000;
  border: none;
}

.btn-gold:hover {
  background-color: #db9108;
  color: #000;
}

.btn-outline-gold {
  border: 1px solid #db9108;
  color: #db9108;
  background-color: transparent;
}

.btn-outline-gold:hover {
  background-color: #db9108;
  color: #000;
}

.border-gold {
  border: 1px solid #db9108;
}
