.card-img-top {
    width: 100%;      
    height: 200px;    
    object-fit: cover; 
  }
  .clearance {
    background-color: #292727; 
    border: 7px solid #db9108;   
    color: #f1f1f1;            
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }
  
  
  