<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let cerveza of cervezas" >
    <div class="card h-100" [ngClass]="{'clearance': cerveza.clearance }">
      <img [src]="cerveza.imagen" class="card-img-top" [alt]="cerveza.nombre" />
      <div class="card-body">
        <h5 class="card-title">{{ cerveza.nombre }}</h5>
        <p class="card-text">{{ cerveza.descripcion }}</p>
        <p class="card-text">{{ cerveza.precio | currency }}</p>
        <p class="card-text">{{ cerveza.tipo }}</p>
        <p *ngIf="cerveza.stock===0" class="card-text">Sin stock</p>


        <p class="card-text">
          <small class="text-muted">ABV: {{ cerveza.abv }}%</small>
        </p>
      </div>
    </div>
  </div>
</div>
