.card-img-top {
    width: 100%;      /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 200px;    /* Define una altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que la imagen se recorte y ajuste correctamente */
  }
  